# 01 - Feb 2025
# Set & Dictionary

1) Unordered & Unindexed collection of items. 
2) Set elements are unique. Duplicate elements are not allowed. 
3) Set elements are immutable (cannot be changed). 
4) Set itself is mutable. We can add or remove items from it.

# Creating a Set

In [7]:
s = {1,2,3,4,5} # Creating a set with curly braces
print(s)
type(s)

{1, 2, 3, 4, 5}

set

In [9]:
empty_s = set ()
print(empty_s)

set()

In [13]:
print(len(s))
len(empty_s)

5

0

In [15]:
s2 = {11,22,22,33,44,55,55} # duplicate elements are note allowed in set
s2

{11, 22, 33, 44, 55}

In [17]:
s3 = {1,2,"prem", "pawar", 2.2, 43.5,(12,12,43)}
s3 # Mixed data type

{(12, 12, 43), 1, 2, 2.2, 43.5, 'pawar', 'prem'}

In [19]:
# set is sorted

In [21]:
s4 = s3.copy()

In [23]:
s4

{(12, 12, 43), 1, 2, 2.2, 43.5, 'pawar', 'prem'}

In [27]:
s5 = {(12, 12, 43), 1, 2, 2.2, 43.5, 'pawar', 'prem',[1,1,1,2]}
# Set doesn't allow mutable items like list "[```]"

TypeError: unhashable type: 'list'

In [29]:
print(type (s4))

<class 'set'>

# Loop through a Set

In [33]:
for i,j in enumerate (s4):
    print(f"index = {i}, & vale ={j}", end="\t")

index = 0, & vale =1	index = 1, & vale =2	index = 2, & vale =2.2	index = 3, & vale =prem	index = 4, & vale =(12, 12, 43)	index = 5, & vale =pawar	index = 6, & vale =43.5

In [35]:
for i,j in enumerate (s4):
    print(f"index = {i}, & vale ={j}")

index = 0, & vale =1
index = 1, & vale =2
index = 2, & vale =2.2
index = 3, & vale =prem
index = 4, & vale =(12, 12, 43)
index = 5, & vale =pawar
index = 6, & vale =43.5

# Set Membership

In [40]:
s4

{(12, 12, 43), 1, 2, 2.2, 43.5, 'pawar', 'prem'}

In [42]:
12 in s4 # check 12 are present

False

In [44]:
1 in s4

True

In [48]:
if (12,12,43) in s4: # Check if '(12,12,43)' exist in the set 
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is present in the set

# Add & Remove Items

In [51]:
s4

{(12, 12, 43), 1, 2, 2.2, 43.5, 'pawar', 'prem'}

In [53]:
s4.add(3)

In [55]:
s4

{(12, 12, 43), 1, 2, 2.2, 3, 43.5, 'pawar', 'prem'}

In [57]:
s4.update([12,23,34])

In [67]:
print(s4)

{1, 2, 2.2, 3, 12, 23, 'pawar', 34, 'prem', 43.5, (12, 12, 43)}

In [69]:
s4.remove(1)

In [71]:
s4

{(12, 12, 43), 12, 2, 2.2, 23, 3, 34, 43.5, 'pawar', 'prem'}

In [73]:
s4.discard(2.2)

In [75]:
s4

{(12, 12, 43), 12, 2, 23, 3, 34, 43.5, 'pawar', 'prem'}

In [77]:
s4.discard(3443433343)

In [79]:
s4

{(12, 12, 43), 12, 2, 23, 3, 34, 43.5, 'pawar', 'prem'}

In [83]:
s5 = s4
s5

{(12, 12, 43), 12, 2, 23, 3, 34, 43.5, 'pawar', 'prem'}

In [87]:
del s5

In [89]:
s5

NameError: name 's5' is not defined

# Set Operation

In [92]:
# Union

In [94]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c= {5,8,9,10}

In [96]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [102]:
a & b # Set Intersection

{4, 5}

1. Elements 4 and 5 are present in both sets a and b.
2. So, a & b returns {4, 5}.

In [108]:
a and b # Boolean Logic

{4, 5, 6, 7, 8}

1. Since a is not empty, Python returns b ({4, 5, 6, 7, 8}).
2. If a were an empty set {}, Python would return a instead.

In [111]:
a

{1, 2, 3, 4, 5}

In [113]:
b

{4, 5, 6, 7, 8}

In [115]:
c

{5, 8, 9, 10}

In [119]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [121]:
a.union(b,c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [133]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [135]:
A.intersection_update(B) 
A

{4, 5}

# Difference

In [140]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [142]:
A - B

{1, 2, 3}

In [144]:
A.difference(B) # Difference of sets

{1, 2, 3}

In [146]:
B - A

{6, 7, 8}

In [148]:
B.difference(A)

{6, 7, 8}

# Symmetric Difference

In [151]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [153]:
A ^ B

{1, 2, 3, 6, 7, 8}

In [155]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [157]:
A.symmetric_difference_update(B) 
A

{1, 2, 3, 6, 7, 8}

# Subset , Superset & Disjoint

In [160]:
A  = {1,2,3,4,5,6,7,8,9} 
B = {3,4,5,6,7,8} 
C = {10,20,30,40}

In [162]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are

True

In [164]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B

True

In [166]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common e

True

In [168]:
B.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common e

False

# Other Builtin functions

In [171]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [173]:
sum(A)

45

In [175]:
max(A)

9

In [177]:
min(A)

1

In [179]:
len(A)

9

In [181]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [183]:
d = sorted(A, reverse=True)
d

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [185]:
sorted(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [187]:
# .

In [189]:
# .

In [191]:
# .

# Dictionary

1. Dictionary is a mutable data type in Python.
2. A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}.
3. Keys must be unique in a dictionary, duplicate values are allowed

In [196]:
# create a dictionary using curly braces {} or the dict() function.
info = {
    "Name": "P",
    "age": 23,
    "City": "Hy"
}
print(info)

{'Name': 'P', 'age': 23, 'City': 'Hy'}

In [198]:
person = dict(name="p", age=23, city="Hy")
print(person)

{'name': 'p', 'age': 23, 'city': 'Hy'}

1. Accessing Dictionary Elements
2. usinng Square Bracket

In [203]:
print(info["Name"])

P

In [205]:
# Using .get() Method

In [211]:
print(info.get("City"))
print(info.get("Country", "No Match")) # Advantage: .get() avoids errors
                                       # if the key does not exist.

Hy
No Match

In [215]:
print(info.get("City"))
print(info.get("age", "No Match"))

Hy
23

# Modifying a Dictionary

In [221]:
print(person)

{'name': 'p', 'age': 23, 'city': 'Hy'}

In [224]:
person["gender"] = "Male"
print(person)

{'name': 'p', 'age': 23, 'city': 'Hy', 'gender': 'Male'}

In [226]:
# Updating an Existing Value

In [228]:
person["age"] = 31
print(person)

{'name': 'p', 'age': 31, 'city': 'Hy', 'gender': 'Male'}

In [230]:
# Removing Elements from a Dictionary

In [232]:
del person["city"]
print(person)

{'name': 'p', 'age': 31, 'gender': 'Male'}

In [234]:
# Using .pop() Method

In [236]:
last_item = person.popitem()
print(last_item)  
print(person)

('gender', 'Male')
{'name': 'p', 'age': 31}

# Dictionary Operations

1. Checking if a Key Exists (in Operator)

In [240]:
if "name" in person:
    print("Key 'name' exists!")

Key 'name' exists!

2. Getting All Keys (.keys())

In [244]:
print(person.keys())  
# Output: dict_keys(['name'])

dict_keys(['name', 'age'])

3. Getting All Key-Value Pairs (.items())

In [248]:
print(person.items())

dict_items([('name', 'p'), ('age', 31)])

In [252]:
print(person.values())

dict_values(['p', 31])

# Looping Through a Dictionary

In [255]:
for key in person:
    print(key)

name
age

In [267]:
for value in person.values():
    print(value)

p
31

In [269]:
for key, value in person.items():
    print(f"{key}: {value}")

name: p
age: 31